.to-do-list {
  text-align: center;
  color: burlywood;
}

.to-do-list button {
  color: red;
  padding: 10px 10px;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  background-color: rgb(209, 176, 180);
  border-radius: 10px;
  height: auto;
  margin-bottom: 1rem;
}
