.to-do-list {
  text-align: center;
  color: burlywood;
}

.to-do-list buttonc{
  color:rgb(52, 0, 119);
  padding: 10px 20px;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  background-color: rgb(209, 176, 180);
  border-style: double;
  border-radius: 20px;
  height: auto;
}