* {
  box-sizing: border-box;
}

body {
  padding: 0px;
  margin: 0px;
}

.container button {
  color: rgb(52, 0, 119);
  padding: 10px;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  background-color: rgb(209, 176, 180);
  border-style: solid;
  height: auto;
}

.render .container {
  color: blue;
}

.render .container {
  display: flex;
  justify-content: center;
}
